    <footer class="span12">
        <hr/>
        <a href="{{  path(site_url | default ('homepage')) }}" title="{{ site_description | default('Your site description')  }}">
         <strong>{{ site_description | default('Your Site')  }}</strong>
        </a> &Vert;
        &reg;{{ "now" | date('Y') }}
        <a href="{{  path(owner_url | default ('homepage')) }}" title="{{ owner_description | default('Site Owner')  }}">
          {{ owner_description | default('You')  }}
        </a>
    </footer>



