  <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="./index.html">Bootstrap</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li>
                <a href="{{ path('homepage') }}">Home</a>
              </li>
              <li class="active">
                <a href="{{ path('ThemeBootstrapBundle_overview') }}">Overview</a>
              </li>
              <li class="">
                <a href="{{ path('ThemeBootstrapBundle_scafolding') }}">Scaffolding</a>
              </li>
              <li class="">
                <a href="{{ path('ThemeBootstrapBundle_basecss') }}">Base CSS</a>
              </li>
              <li class="">
                <a href="{{ path('ThemeBootstrapBundle_components') }}">Components</a>
              </li>
              <li class="">
                <a href="{{ path('ThemeBootstrapBundle_javascript') }}">Javascript plugins</a>
              </li>
              <li class="">
                <a href="{{ path('ThemeBootstrapBundle_less') }}">Using LESS</a>
              </li>
              <li class="divider-vertical"></li>
              <li class="">
                <a href="http://twitter.github.com/bootstrap/download.html">Customize</a>
              </li>
              <li class="">
                <a href="{{ path('ThemeBootstrapBundle_examples') }}">Examples</a>
              </li>
              <li class="dropdown">
                <a href="#"
                      class="dropdown-toggle"
                      data-toggle="dropdown">
                      Extras
                      <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="{{ path('ThemeBootstrapBundle_xhtmlTestPage') }}">XHTML Test Page</a>
                  </li>
                  <li>
                    <a href="{{ path('ThemeBootstrapBundle_jqueryuiFull') }}">jQuery UI Full</a>
                  </li>
                  <li>
                    <a href="{{ path('ThemeBootstrapBundle_jqueryuiMinimal') }}">jQuery UI Minimal</a>
                  </li>
                  <li>
                    <a href="{{ path('ThemeBootstrapBundle_jqchosen') }}">Chosen</a>
                  </li>
                  <li>
                    <a href="{{ path('ThemeBootstrapBundle_cleditor') }}">CL Editor</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="{{ path('ThemeBootstrapBundle_datatables') }}">Datatables</a>
                  </li>
                  <li>
                    <a href="{{ path('ThemeBootstrapBundle_listGrid') }}">List Grid Sample</a>
                  </li>
                  <li>
                    <a href="{{ path('ThemeBootstrapBundle_listStacked') }}">List Stacked Sample</a>
                  </li>
                  <li>
                    <a href="{{ path('ThemeBootstrapBundle_listGridDatatables') }}">List Grid Datatables Sample</a>
                  </li>
                  <li>
                    <a href="{{ path('ThemeBootstrapBundle_listStackedDatatables') }}">List Stacked Datatables Sample</a>
                  </li>
                  <li>
                    <a href="{{ path('ThemeBootstrapBundle_form') }}">Form Sample</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
